.heroSection{
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("../../assets/heropic.jpg");
  height: 90vh;
  width: 100%;
  background-position: auto;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  gap: 2rem;
    
}
.herotxt1{
    
    font-size: 1.5rem;
}
.herotxt{
    font-size: 3rem;
    font-family: 'poppins',sans-serif;
}
.herobtn{
    display: flex;
    gap: 2rem;
    margin-top: 2rem;
}
.btn1{
    padding: 15px;
    border: none;
    background: var(--color2);
    color: #fff;
    font-weight: 600;
    cursor: pointer;
    border-radius: 50px 50px ;
    transition:  0.3s ease;
    font-size: 1rem;
}
